<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div id="form">
		<h1>Form</h1>
		<form action='/submit' method='post'>
			Name: <input type='text' name='name'>
			{% with messages = get_flashed_messages() %}
    			{% if messages %}
      				{% for message in messages %}
        				<p>{{message}}</p>
      				{% endfor %}
    			{% endif %}
  			{% endwith %}
			Dojo Location: <select name ='location'>
				<option value='dallas'>Dallas</option>
				<option value='chicago'>Chicago</option>
				<option value='mars'>Mars</option>
				</select>
			Favorite Language: <select name='language'>
				<option value='html'>HTML</option>
				<option value='python'>Python</option>
				<option value='ruby'>Ruby on Rails</option>
				</select>
			Comment: <input type='text' name='comment'>
			<input type='submit' name='submit' value='submit'>
		</form>
	</div>
</body>
</html>