<!DOCTYPE html>
<html>
<head>
	<title>Ninja Info</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h1>Information About Ninjas</h1>
	<p>Definition: A ninja (忍者) or shinobi (忍び, "to sneak") was a covert agent or mercenary in feudal Japan. The functions of the ninja included espionage, sabotage, infiltration, assassination and guerrilla warfare.</p>
	<img src="https://cdn.neow.in/forum/uploads/monthly_08_2011/post-408096-0-24958800-1313764690.jpg" alt="ninjas">

</body>
</html>