<!DOCTYPE html>
<html>
	<head>
		<title>What's my Name?</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">
	</head>
	<body>
		<div>
			<h3>Submitted Info</h3>
			<form action = '/result' method ='post'>
				<p>First Name: <input type = 'text' name = 'first_name'></p>
				<p>Last Name: <input type="text" name="last_name"></p>
				<p>Email: <input type="text" name="email"></p>
				<p>Password: <input type="text" name="password"></p>
				<p>Confirm Password: <input type="text" name="confirm_password"></p>
				<button input type="submit" name="process">Submit</button>
			</form>
		</div>
		  {% with messages = get_flashed_messages() %}
		    {% if messages %}
		      	{% for message in messages %}
		        	{{message}}
		      	{% endfor %}
		    {% endif %}
		  {% endwith %}
	</body>
</html>